server:
  port: "{{ server_port | default('8080') }}"
  certificate: "{{ server_certificate_path | default('') }}"
  url: "{% if server_certificate_path is defined and server_certificate_path != '' %}
{% if server_url is defined and server_url != '' %}
https://{{ server_url }}{% else %}
https://{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) ~ ':' ~ server_port }}{% endif %}{% else %}
{% if server_url is defined and server_url != '' %}
http://{{ server_url }}{% else %}
http://{{ ansible_default_ipv4.address | default(ansible_all_ipv4_addresses[0]) ~ ':' ~ server_port }}{% endif %}{% endif %}"
  workingdir: "{{ server_working_dir | default( script_directory ~ '/upload') }}"

debug:
  enabled: "{{ debug_enabled | default('false') }}"

endpoints:
{% for endpoint, password in endpoints.items() %}
  "{{ endpoint }}": "{{ password }}"
{% endfor %}