[Unit]
Description=Overview Collector
After=network.target

[Service]

Type=simple
User={{ script_user }}
Group={{ script_user }}
ExecStart={{ script_path }}
WorkingDirectory={{ script_directory }}
Environment=TMPDIR={% if tmpdir is defined and tmpdir != '' %}{{ tmpdir }}{% else %}{{ script_directory }}/.tmp{% endif %}

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

